@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  transition: 0.4s;
}

::-webkit-scrollbar {
  width: 0;
}

@font-face {
  font-family: Inder;
  src: url("./Utils/Fonts/Inder/Inder-Regular.ttf");
}

.inderFont {
  font-family: Inder;
}

.loader {
  transition: none;
  font-weight: 700;
  text-align: center;
  font-size: 40px;
  font-family: Hack, sans-serif;
  text-transform: uppercase;
  background: linear-gradient(90deg, #ffe74c, #fff, #ffe74c);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 3s linear infinite;
  position: relative;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}

/* Text Color */
.foodTextColor {
  color: #ff5964;
}

.travelTextColor {
  color: #38618c;
}

.drinkTextColor {
  color: #35a7ff;
}

.billTextColor {
  color: #c81b25;
}

.studyTextColor {
  color: #3bbc26;
}

.clothTextColor {
  color: #26bc98;
}

/* BackGround Colour */
.foodBgColor {
  background-color: #ff5964;
}

.travelBgColor {
  background-color: #38618c;
}

.drinkBgColor {
  background-color: #35a7ff;
}

.billBgColor {
  background-color: #c81b25;
}

.studyBgColor {
  background-color: #3bbc26;
}

.clothBgColor {
  background-color: #26bc98;
}

/* Loader */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gooey {
  position: absolute;
  top: 50%;
  left: 50%;
  /* height: 40px; */
  margin: -20px 0 0 -71px;
  /* filter: contrast(20);  */
}
.dot {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 15px;
  /* filter: blur(4px); */
  background: #000;
  border-radius: 50%;
  transform: translateX(0);
  animation: dot 2.8s infinite;
}
.dots {
  transform: translateX(0);
  margin-top: 12px;
  margin-left: 31px;
  animation: dots 2.8s infinite;
}
.dots span {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-left: 16px;
  /* filter: blur(4px); */
  background: #000;
  border-radius: 50%;
}

@keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}

.categoryListLight {
  background-color: rgb(203 213 225);
  color: rgb(30 41 59);
}

.categoryListDark {
  background-color: rgb(100 116 139);
  color: rgb(226 232 240);
}

.profileListLight {
  background-color: rgb(226 232 240);
  color: rgb(30 41 59);
}

.profileListDark {
  background-color: rgb(148 163 184);
  color: white;
}
